/*Paleta de colores utilizada: https://paletasdecolores.com/paleta-de-colores-4194/

Del más claro al más oscuro:;
Blanco nube: #f4f4f2
Gris nieve claro: #e8e8e8
Gris nieve oscuro: #bbbfca
Azúl grisáceo: #bbbbbe
Azúl eléctrico:#495464
*/

* {
	color: #495464;
	text-align: center;
}

header {
	font-style: normal;
	color: #495464;
	background-color: #f4f4f2;
}

body {
	font-style: normal;
	/*font-weight: bold;*/
	font-size: 16px;
/* Fuente "Roboto" de Google Fonts*/
/* https://fonts.google.com/specimen/Roboto?sidebar.open=true&selection.family=Roboto:wght@100 */
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
}

h2 {
	font-style: normal;
	color: #495464;
}

a {
	text-decoration: none;
	color: #495464;
	/*font-weight: bold;*/
}

 footer {
 	background-color: #f4f4f2;
 }

table {
	margin: 0 auto;
	border: groove;
}

.index-flex {
	display: flex;
	flex-direction: row;
}

.index-flex2 {
	display: flex;
	flex-direction: row-reverse;
}

.index-flexaside {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.index-flexarticle {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: 1%;
	border: inset;
	padding: 1%
}

.index-centrar {
	text-align: center;
}

.gmap_canvas {
	display: block;
	align-self: center;
}

/*Clase 5: Box-modeling */
.aboutMe-box {
	border: inset;
	padding: 1% 5% 5% 5%;
	margin: 1%;
	border-color: #e8e8e8;
}

.aboutMe-img {
	width: 66%;
}

li {
   display: inline-block;
   position: relative;
   font-weight: bold;
   color: #495464;
   padding: 1%;
   margin: 1%;
   border: groove;
   border-color: #bbbbbe;
}
/*  Clase 7: Grids */
.gallery-item {
	border: solid 1px #bbbbbe;
	font-size: 20px;
	padding: 10px;
}

.gridRepeat-images {
	border: solid 1px black;
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, 1fr);
}
/* Device: Tablet */
@media only screen and (max-width: 768px) {
	.gridAreas {
		grid-template-rows: 100px 1fr 1fr 1fr 75px;
		grid-template-columns: 20% auto;
	}
	.item {
		background-color: #f4f4f2;
	}
}
/* Device: Cellphone (horizontal) */
@media only screen and (max-width: 480px) {
	.gridAreas {
		grid-template-rows: 75px 100px 1fr 1fr 1fr 75px;
		grid-template-columns: auto;
	}
	.item {
		background-color: #f4f4f2;
	}
}
/* Device: Cellphone (vertical) */
@media only screen and (max-width: 320px) {
	.gridAreas {
		grid-template-rows: 75px 100px 1fr 1fr 1fr 75px;
		grid-template-columns: auto;
	}
	.item {
		background-color: #f4f4f2;
	}
}